<app-topbar></app-topbar>
<app-header></app-header>
<app-herosection></app-herosection>
<app-whyussection></app-whyussection>
<app-about></app-about>
<app-countsection></app-countsection>
<app-servicesection></app-servicesection>
<app-appointmentsection></app-appointmentsection>
<app-departmentsection></app-departmentsection>
<app-doctorssection></app-doctorssection>
<app-questionsection></app-questionsection>
<app-testimonialsection></app-testimonialsection>
<app-gallery></app-gallery>
<app-contactsection></app-contactsection>
<app-footer></app-footer>